<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.623041917953-vs7cesl3k9irkre5espn49h9jgu1vap5</string>
			</array>
		</dict>
	</array>
	<key>GIDClienteID</key>
	<string>623041917953-vs7cesl3k9irkre5espn49h9jgu1vap5.apps.googleusercontent.com</string>
</dict>
</plist>
